html, body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

/*NAVBAR*/

.navbarColor {
    background-color:#717893;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar {
    padding: 0;
    margin: 0px;
    border-width:0px;
}

.glyphicon.glyphicon-home {
    color: white;
     margin-left:15px;
}

.container-fluid {
    height:100%;
    padding-left: 0px;
    margin-left:0;
    max-width:100%;
}

.caption  {
    position:absolute;
    top:10%;
    left:31%;
    width:100%;
    color:white;
}

.captions {
    position:absolute;
    top:17%;
    left:29%;
    width:100%;
    color:white;
}


/*PURPLE DESCRIPTION BARS*/

.descriptionBar {
    text-align:center;
    margin-top:0;
    border-top:0;
    height:125px;
    background-color:#717893;
    color:white;
}

/*LOCATIONS*/

.locationOneAndThreeButton {
     background-color:#717893;
    color:white;
      max-width:95px;
    padding:6px;
      opacity:.7;
}

.locationTwoButton {
    background-color:white;
    color:#717893;
     max-width:95px;
    padding:6px;
      opacity:.7;
}

.locBarsOneAndThree {
    margin:70px;
     margin-bottom:70px;
}

.barOneAndThree {
     margin-top:40px;
    color:#717893;
    text-align:left;
    text-align:justify;
}

.locBarTwo {
   background-color:#717893;
}

.barTwoPic {
    margin-top:70px;
    margin-bottom: 70px;
    margin-left:50px
}

.barTwo {
    margin-top:110px;
    color:white;
    text-align:justify;
}

/*CHECKERBOARD*/


.checkerboardTopRow {
    margin-top:95px;
}

.checkerboardRow {
    margin-right:95px;
    margin-left:95px;
    height:100%;
}

.checkerboxButton h3 {
    margin-left:15px;
   margin-top:130px;
   color:white;
   max-width:160px;
   text-align:center;
   background-color:#717893;
   opacity:.7;
}


.checkerboxes {
    margin-top:100px;
    text-align: justify;
    color:#717893;
    max-width:275px;
    margin-left:50px;
}

.checkerboxes h3 {
    margin-left:10px;
    margin-top:-15px;
}

.checkerboxButton p {
    margin-top:230px;
    margin-left:35px;
    background-color:#717893;
    color:white;
    max-width:95px;
    opacity:.8;
    padding:6px
}

.checkerboardBottomRow {
    margin-bottom: 95px;
}


.carouselRow {
    height:215px;
    padding-top:100px;
    background-color:#717893;
    background: radial-gradient(#717893, white);
}

.carouselRow p{
    text-align:center;
    color:white;
}

.left.carousel-control,
.right.carousel-control {
    opacity:.0;
}

.contactBar {
    height:330px;
    margin:50px 0px;
}

.control-label {
    color:#717893;
}

.contactInfo {
    color:#717893;
    margin:30px 100px 0px 50px;
    max-width:400px;
    font-weight:bold;
}

.footer {
    padding-top:40px;
    text-align:center;
    margin-top:0;
    border-top:0;
    height:205px;
    background-color:#717893;
    color:white;
}

.glyphicon.glyphicon-chevron-up {
    color:white;
    font-size:25px;
}
















