html, body {
  overflow-x: hidden;
}

.navbarColor {
    background-color:#717893;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar {
    padding: 0;
    margin: 0px;
    border-width:0px;
}

.glyphicon.glyphicon-home {
    color: white;
}

.container-fluid {
    height:100%;
    padding-left: 0px;
    margin-left:0;
    max-width:100%;
}

.caption  {
    position:absolute;
    top:10%;
    left:31%;
    width:100%;
    color:white;
}

.captions {
    position:absolute;
    top:17%;
    left:29%;
    width:100%;
    color:white;
}

.descriptionBar {
    text-align:center;
    margin-top:0;
    border-top:0;
    height:125px;
    background-color:#717893;
    color:white;
}

.locBarsOneAndThree {
    margin:70px;
    margin-left:50px;
    margin-right:30px;
}

.barOneAndThree {
    color:#717893;
    text-align:left;
}

.locBarTwo {
    margin:70px;
    margin-left:30px;
    margin-right:50px;
}

.barTwo {
    background-color:#717893;
    margin:70px;
    margin-left:30px;
    margin-right:30px;
}

